AWSTemplateFormatVersion: "2010-09-09"

Resources:
  ConfigBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Join ["-", [!Ref Prefix, !Ref Environment, config-bucket]]
      AccessControl: Private
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: !GetAtt KmsKey.Arn
      VersioningConfiguration:
        Status: Enabled
      LoggingConfiguration:
        DestinationBucketName: !Ref ConfigBucketLogBucket
        LogFilePrefix: config-bucket-log

  ConfigBucketLogBucket:
    # checkov:skip=CKV_AWS_18: This is the config log bucket - no need for another
    Type: AWS::S3::Bucket
    Properties:
      BucketName:
        !Join ["-", [!Ref Prefix, !Ref Environment, config-bucket-logs]]
      VersioningConfiguration:
        Status: Enabled
      AccessControl: LogDeliveryWrite
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: !GetAtt KmsKey.Arn

  # Prices are confidential, so use fake data outside of the production environment
  FakePricesS3Object:
    Condition: IsNotProduction
    Type: Custom::S3Object
    Properties:
      ServiceToken: !GetAtt CustomS3ObjectResourceFunction.Arn
      S3Object:
        Bucket: !Ref ConfigBucket
        Key: rate_tables/prices.csv
        Body: !TextInclude ./cloudformation/fake-prices.csv

  UkVatConfigS3Object:
    Type: Custom::S3Object
    Properties:
      ServiceToken: !GetAtt CustomS3ObjectResourceFunction.Arn
      S3Object:
        Bucket: !Ref ConfigBucket
        Key: uk-vat.json
        Body: !TextInclude ./cloudformation/uk-vat.json
