{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% extends "common/layout/base.njk" %}
{% block beforeContent %}
  {{ govukBreadcrumbs({"items": [{"text": "Home", "href": "/"}]}) }}
{% endblock beforeContent %}
{% block content %}
  <h1 class="govuk-heading-l">Contracts</h1>
  <h2 class="govuk-heading-m">Contract Numbers</h2>
  <ul class="govuk-list">
    {% for contract in contracts %}
      <li>
        <a class="govuk-link" href="/invoices?contract_id={{ contract.id }}">{{ contract.name }} - {{ contract.vendorName }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
