{% extends "common/layout/base.njk" %}
{% block content %}
  <h1 class="govuk-heading-l">Digital Identity Billing Dashboard</h1>
  <p class="govuk-body">Welcome to the contracts page!</p>
  <ul>
    {% for contract in contracts %}<li><a href="/invoices?contract_id={{ contract.contract_id }}">{{ contract.name }}</a></li>{% endfor %}
  </ul>
{% endblock content %}
