{% extends "common/layout/base.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  {{ headTitle }}
{% endblock pageTitle %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body">Try again later.</p>
    </div>
  </div>
{% endblock %}
