{% extends "common/layout/base.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block pageTitle %}
  Sorry, there is a problem with the service – Billings and Reconciliation – GOV.UK
{% endblock pageTitle %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
    </div>
  </div>
{% endblock %}
