{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% extends "common/layout/base.njk" %}
{% block content %}
  <span class="govuk-caption-xl"></span>
  <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
  <p class="govuk-body">Billings and reconciliation for the OneLogin programme</p>
  <div class="govuk-!-padding-bottom-7"></div>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Overview</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Contract name</th>
        <th class="govuk-table__header" scope="col">Vendor</th>
        <th class="govuk-table__header" scope="col">Period</th>
        <th class="govuk-table__header" scope="col">Reconciliation status</th>
        <th class="govuk-table__header" scope="col">Details</th>
      </tr>
    </thead>
    {% for row in overviewRows %}
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell">{{ link(row.contractLinkData) }}</th>
          <td class="govuk-table__cell">{{ row.vendorName }}</td>
          <td class="govuk-table__cell">{{ row.prettyMonthOrQuarter }} {{ row.year }}</td>
          <td class="govuk-table__cell">
            {{ govukTag({
                        text: row.reconciliationDetails.statusLabel.message,
                        classes: row.reconciliationDetails.statusLabel.class
                        }) }}
          </td>
          <td class="govuk-table__cell">{{ link(row.invoiceLinkData) }}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
  <div class="govuk-!-padding-bottom-9"></div>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Navigation</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">{{ link(contractsLinkData) }}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">All current and past contracts with invoices that have been reconciled.</td>
      </tr>
    </tbody>
  </table>
{% endblock content %}
