{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "common/layout/base.njk" %}
{% block content %}
  <span class="govuk-caption-xl"></span>
  <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
  <h2 class="govuk-heading-l">Billings and reconciliation for the OneLogin programme</h2>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="govuk-!-padding-bottom-9"></div>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Navigation</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">
          <a href="/contracts">Contracts</a>
        </th>
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col"></th>
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col"></th>
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">All current and past contracts with invoices that have been reconciled.</td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
      </tr>
    </tbody>
  </table>
{% endblock content %}
