{% extends "common/layout/base.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">Digital Identity Billing Dashboard</h1>
  <p class="govuk-body">Welcome to the invoices page!</p>
{% endblock %}
