{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% extends "common/layout/base.njk" %}

{% block content %}

  {{ govukPanel({
    titleText: invoice.statusText + " (" + invoice.bannerColour + ")",
    html: "Reference number<br><strong>" + invoice.contractName + "</strong>"
  }) }}

{% endblock content %}
