{% from "govuk/components/panel/macro.njk" import govukPanel %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% extends "common/layout/base.njk" %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
    text: "Home",
    href: "/"
    },
    {
    text: "Contracts",
    href: "/contracts"
    },
    {
    text: contractName + " - " + vendorName,
    href: "/invoices?contract_id=" + contractId
    }
    ]
    }) }}
{% endblock beforeContent %}
{% block content %}
  <h1 class="govuk-heading-xl">{{ vendorName + " " + prettyMonth + " " + year + " Invoice" }}</h1>
  {{ govukPanel({
    titleText: invoiceStatus,
    html: "Reference number
    <br>
    <strong>" + contractName + "</strong>",
    classes: bannerClass
    }) }}
  <div class="govuk-inset-text">
    {{ govukAccordion({
        id: "accordion-default",
        items: [
        {
        heading: {
        text: "Status guidance"
        },
        content: {
        html:
        "
        <p class='govuk-body'>
          Common banner states:
          <ul class='govuk-list govuk-list--bullet'>
            <li>
              Invoice within threshold (green) - the discrepancy between measured event data and the invoice is within the threshold tolerance of of -1% and 1%. This invoice can be paid.
        </li>
        <li>
          Invoice above threshold (red) - the discrepancy between measured event data and the invoice is above the threshold of 1%. The vendor may have overcharged within the invoice. Contact the Data & Analytics team to confirm measured data and the vendor to confirm the invoice.
        </li>
        <li>
          Invoice below threshold (blue) - the discrepancy between measured event data and the invoice is below is below the threshold of -1%. The vendor may have undercharged within the invoice. Contact the Data & Analytics team to confirm measured data and the vendor to confirm the invoice.
        </li>
      </ul>
    </p>
    <p class='govuk-body'>
      Other banner states (grey):
      <ul class='govuk-list govuk-list--bullet'>
        <li>Invoice and events missing - There is no invoices or event data for this month.</li>
        <li>
          Invoice missing - An event has been measured for this month, but there has been no corresponding invoice received.
        </li>
        <li>
          Events missing - An invoice has been received for this month that includes at least one service that there has been no measured data.
        </li>
        <li>
          Unable to find rate - An error has occurred. An invoice has been received that includes at least one service that does not have a corresponding rate per transaction configured. Contact technical support to resolve this error.
        </li>
        <li>
          Invoice has unexpected charge - Event processing concludes there should be no charge for a particular service for a month (i.e. if all events had a charge £0.00), but the invoice charge is non-zero. In this case, event processing cannot compute a percentage discrepancy, as it would be infinite.
        </li>
      </ul>
    </p>
    "
    }
    }
    ]
    }) }}
  </div>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Reconciliation</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Line Item</th>
        <th class="govuk-table__header" scope="col">Quantity Discrepancy</th>
        <th class="govuk-table__header" scope="col">Price Discrepancy</th>
        <th class="govuk-table__header" scope="col">Percentage Discrepancy</th>
        <th class="govuk-table__header" scope="col">Status</th>
      </tr>
    </thead>
    {% for row in reconciliationRows %}
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ row.serviceName }}</td>
          <td class="govuk-table__cell">{{ row.quantityDiscrepancy }}</td>
          <td class="govuk-table__cell">{{ row.priceDiscrepancy }}</td>
          <td class="govuk-table__cell">{{ row.percentageDiscrepancy }}</td>
          <td class="govuk-table__cell">
            {{ govukTag({
                        text: row.status.message,
                        classes: row.status.class
                        }) }}
          </td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Quantity (events)</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Line Item</th>
        <th class="govuk-table__header" scope="col">Invoiced Quantity</th>
        <th class="govuk-table__header" scope="col">Measured Quantity</th>
        <th class="govuk-table__header" scope="col">Quantity Discrepancy</th>
      </tr>
    </thead>
    {% for row in reconciliationRows %}
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ row.serviceName }}</td>
          <td class="govuk-table__cell">{{ row.billingQuantity }}</td>
          <td class="govuk-table__cell">{{ row.transactionQuantity }}</td>
          <td class="govuk-table__cell">{{ row.quantityDiscrepancy }}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Price</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Line Item</th>
        <th class="govuk-table__header" scope="col">Invoiced Price</th>
        <th class="govuk-table__header" scope="col">Measured Price</th>
        <th class="govuk-table__header" scope="col">Price Discrepancy</th>
      </tr>
    </thead>
    {% for row in reconciliationRows %}
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ row.serviceName }}</td>
          <td class="govuk-table__cell">{{ row.billingPrice }}</td>
          <td class="govuk-table__cell">{{ row.transactionPrice }}</td>
          <td class="govuk-table__cell">{{ row.priceDiscrepancy }}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Measured (events)</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Line Item</th>
        <th class="govuk-table__header" scope="col">Quantity</th>
      </tr>
    </thead>
    {% for row in reconciliationRows %}
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ row.serviceName }}</td>
          <td class="govuk-table__cell">{{ row.transactionQuantity }}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}
