{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% extends "common/layout/base.njk" %}
{% block beforeContent %}
  {{ govukBreadcrumbs({"items": [{"text": "Home", "href": "/"}, {"text": "Contracts", "href": "/contracts"}]}) }}
{% endblock beforeContent %}
{% block content %}
  <h1 class="govuk-heading-l">Digital Identity Billing Dashboard</h1>
  <h2 class="govuk-heading-m">{{ contract.name }} - {{ contract.vendorName }}</h2>
  <ul class="govuk-list">
    {% for period in periods %}
      <li>
        <a class="govuk-link"
           href="/contracts/invoices/invoice?contract_id={{ contract.id }}&year={{ period.year }}&month={{ period.month }}">
          {{ period.prettyMonth }} {{ period.year }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
