{% extends "govuk/template.njk" %}
{% block head %}
  <link href="/assets/styles/all.css" rel="stylesheet">
{% endblock head %}
{% block pageTitle %}
  {% if errors %}Error:{% endif %}
  {% if pageTitle %}{{ pageTitle }} -{% endif %}
  Billings and Reconciliation
{% endblock pageTitle %}
{% block content %}
{% endblock content %}
{% block bodyEnd %}
  <script src="assets/scripts/all.js"></script>
  <script>window.GOVUKFrontend.initAll();</script>
  {% block scripts %}
  {% endblock scripts %}
{% endblock bodyEnd %}
