{% extends "govuk/template.njk" %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% block head %}
  <link href="/assets/styles/all.css" rel="stylesheet">
{% endblock head %}
{% block pageTitle %}
  {% if errors %}Error:{% endif %}
  {% if pageTitle %}{{ pageTitle }} -{% endif %}
  Billings and Reconciliation
{% endblock pageTitle %}
{% block content %}
{% endblock content %}
{% block footer %}{{ govukFooter({"meta": {"items": [{"href": "#", "text": "Cookies"}]}}) }}{% endblock %}
{% block bodyEnd %}
  <script src="/assets/scripts/all.js" nonce="{{ cspNonce }}"></script>
  <script>window.GOVUKFrontend.initAll();</script>
  {% block scripts %}
  {% endblock scripts %}
{% endblock bodyEnd %}
