@import "../../../node_modules/govuk-frontend/govuk/all.scss";

.govuk-panel {
  &.warning {
    background: $govuk-focus-colour !important;
    color: $govuk-focus-text-colour
  }
  &.error {
    background: $govuk-error-colour;
  }
  &.notice {
    background: govuk-colour("blue");
  }
  &.payable {
    background: $govuk-success-colour;
  }
}
