

.govuk-panel {
  .warning {
    background: govuk-colour("mid-grey");
  }
  .error {
    background: $govuk-error-colour;
  }
  .notice {
    background: govuk-colour("blue");
  }
  .payable {
    background: $govuk-success-colour;
  }
}
