name: Build and push testing image

on:
  push:
    branches:
      - main

env:
  AWS_REGION: eu-west-2

jobs:
  push-testing-image:
    name: Build and push testing image
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install Cosign
        uses: sigstore/cosign-installer@main
        with:
          cosign-release: v1.9.0
      - name: Assume AWS role for dev
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.DEV_GH_ACTIONS_ROLE_ARN }}
      - name: Login to Amazon ECR
        id: login-ecr-dev
        uses: aws-actions/amazon-ecr-login@v1
      - name: Build, tag, and push integration testing image to ECR in dev
        env:
          CONTAINER_SIGN_KMS_KEY: ${{ secrets.DEV_CONTAINER_SIGN_KMS_KEY }}
          ECR_REGISTRY: ${{ steps.login-ecr-dev.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.DEV_ECR_TEST_INTEGRATION }}
          IMAGE_TAG: latest
        run: |
          docker build -f integration_tests/Dockerfile -t btm-int-tests:$IMAGE_TAG .
          docker tag btm-int-tests:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          cosign sign --key awskms:///${CONTAINER_SIGN_KMS_KEY} $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
      - name: Build, tag, and push end to end testing image to ECR in dev
        env:
          CONTAINER_SIGN_KMS_KEY: ${{ secrets.DEV_CONTAINER_SIGN_KMS_KEY }}
          ECR_REGISTRY: ${{ steps.login-ecr-dev.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.DEV_ECR_TEST_END2END }}
          IMAGE_TAG: latest
        run: |
          docker build -f integration_tests/Dockerfile-e2e -t btm-int-tests:$IMAGE_TAG .
          docker tag btm-int-tests:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          cosign sign --key awskms:///${CONTAINER_SIGN_KMS_KEY} $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
      - name: Assume AWS role for build
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.BUILD_GH_ACTIONS_ROLE_ARN }}
      - name: Login to Amazon ECR
        id: login-ecr-build
        uses: aws-actions/amazon-ecr-login@v1
      - name: Tag and push integration testing image to ECR in build
        env:
          CONTAINER_SIGN_KMS_KEY: ${{ secrets.BUILD_CONTAINER_SIGN_KMS_KEY }}
          ECR_REGISTRY: ${{ steps.login-ecr-build.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.BUILD_ECR_TEST_INTEGRATION }}
          IMAGE_TAG: latest
        run: |
          docker tag btm-int-tests:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          cosign sign --key awskms:///${CONTAINER_SIGN_KMS_KEY} $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
      - name: Tag and push end to end testing image to ECR in build
        env:
          CONTAINER_SIGN_KMS_KEY: ${{ secrets.BUILD_CONTAINER_SIGN_KMS_KEY }}
          ECR_REGISTRY: ${{ steps.login-ecr-build.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.BUILD_ECR_TEST_END2END }}
          IMAGE_TAG: latest
        run: |
          docker tag btm-int-tests:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          cosign sign --key awskms:///${CONTAINER_SIGN_KMS_KEY} $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
