name: When opening a pull-request, deploy a PR cloudformation stack and run integration tests

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches-ignore:
      - 'no-int-test/**'

env:
  AWS_REGION: eu-west-2
  ENV_NAME: pr-${{ github.event.pull_request.number }}

jobs:
  run-integration-tests:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm ci
      - run: npm test
      - name: Build lambdas
        run: npm run build
      - name: SAM setup
        uses: aws-actions/setup-sam@v2
        with:
          version: 1.59.0
      - name: Merge template files into template.yaml
        run: npm run build:template
      - name: Check for potential CloudFormation security issues
        uses: bridgecrewio/checkov-action@master
        with:
          file: template.yaml
          framework: cloudformation
          quiet: true
          soft_fail: false
      - name: SAM build & test
        run: sam build
      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.DEV_GH_ACTIONS_TOOLING_ROLE_ARN }}
      - name: SAM validate
        run: sam validate
      - name: SAM deploy
        run: npm run sam:deploy
      - name: Run integration tests
        run: npm run test:integration
